body{
    background-image: linear-gradient(to right, #c0392b, #8e44ad);
  }

html{
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar{
    width: 0px;
    background: transparent;
}

.border{
    position: absolute;
    height: 150%;
    width: 100.5%;
    top: -2.9%;
    left: -0.5%;
    opacity: 0.75;
    z-index: 1;
}

.qwerty{
    position: absolute;
    left: 7.5%;
    width: 400%;
    font-family: Isle;
    font-size: xx-large;
    color: whitesmoke;
}

.qwe{
    position: relative;
}

.cost{
    position: relative;
    font-family: Isle;
    font-size: xx-large;
    color: whitesmoke;
}

input[type="checkbox"]{
    width: 30px;
    height: 30px;
}

.x{
    font-family: Avengeance;
    font-size: 60px;
    color: white;
}

.y{
    font-family: Avengeance;
    font-size: 60px;
    color: white;
}
