html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/* Main Content */

body{
	background-repeat: repeat-y;
	background-size: cover;
	overflow-x: hidden;
	overflow-y: hidden;
}

.menu{
	background-size: cover;
	position: absolute;
	right: 0.5%;
	top: 10%;
    display: flex;
    flex-direction: row-reverse;
	font-family: Alternity;
	font-size: 1.8vw;
	width: 85vw;
	z-index: 5;
}

ul{
	border-radius: 25px;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

li{
	float: left;
}

li a{
	display: block;
	color : #ffffff;
	text-align: center;
	padding: 14px 16px;
	border-radius: 25px;
	text-decoration: none;
	font-size: 100%;
}

li a:hover{
	background-image: linear-gradient(to right ,#1a2a6c,#b21f1f,#fdbb2d);
}

.bg{
    position: absolute;
    top: -7%;
    left: -0.8%;
    z-index: 3;
}

.bg_img{
    width: 101vw;
    height: 507vh;
}

.hero1{
    position: absolute;
    top: -50%;
    left: 25%;
    opacity: 1;
    z-index: 3;
}

.h1-img{
    width: 75vw;
}

.hero2{
    position: absolute;
    top: 45%;
    left: 30%;
    opacity: 1;
    z-index: 3;
}

.h2-img{
    width: 35vw;
}

.hero3{
    position: absolute;
    top: 15%;
    left: -12.5%;
    opacity: 1;
    z-index: 3;
}

.h3-img{
    width: 50vw;
}

.hero4{
    position: absolute;
    top: 45%;
    left: 60%;
    opacity: 1;
    z-index: 3;
}

.h4-img{
    width: 50vw;
}

.bgh{
    position: absolute;
    top: 40%;
    left: 8.5%;
    opacity: 0.72;
    z-index: 2;
}

.bgh1-img{
    width: 80vw;
}

.bgh2{
    position: absolute;
    top: 5%;
    left: 0%;
    opacity: 0.6;
    z-index: 2;
}

.bgh2-img{
    width: 100vw;
}

.image2{
    position: absolute;
    top: 195%;
    left: 13.75%;
    opacity: 1.25;
    z-index: 4;
}

.img2{
    width: 70vw;
}

.bg100 {
    position: absolute;
    top: 215%;
    left: 12.5%;
    opacity: 0.68;
    z-index: 3;
}

.bg1001{
    width: 70vw;
}

.aboutus{
    position: absolute;
    top: 215%;
    left: 13%;
    width: 60vw;
    color:white;
    z-index: 2;
}

.heading{
    position: absolute;
    top: 5%;
    left: 40%;
    font-family: Bitsumishi;
    font-size: 5vw;
}

.paradiv{
    position: absolute;
    top: 235%;
    left: -17.5%;
    width: 95vw;
    color: white;
    z-index: 5;
}

.para{
    position: absolute;
    top: 0%;
    left: 40%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2.5vw;
    text-align: justify;
}

#demo{
    position: absolute;
    text-align: center;
    font-size: 3.2vw;
    margin-top: 30%;
    top: 35%;
    left: 26.25%;
    font-family: ha;
    font-weight: bolder;
    padding:10%;
    z-index: 3;
}

.btm{
    position: absolute;
    bottom: -400.5vh;
    left: -24.5vw;
    z-index: 3;
}

.btm_img{
    width: 130vw;
}

.bottom{
    position: absolute;
    border-radius: 25px;
    list-style-type: none;
    display: block;
    color: white;
    bottom: -385vh;
    left: 1%;
    opacity: 1;
    z-index: 5;
    font-family: Chopsic;
    font-size: 5.5vh;
    display: block;
    padding: 14px 16px;
    background-size: cover;
}

.bottom a:link, a:visited {
    position: absolute;
    background-color: #000000;
    color: white;
    text-align: left;
    padding: 14px 25px;
    border-radius: 25px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
}

.bottom a:hover, a:active {
    background-image: linear-gradient(to right ,#c04848, #480048);
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }

.fa:hover{
    background-image: linear-gradient(to right ,#3e5151, #decba4);
}

.fa:hover {
    opacity: 1;
}

.fa-facebook {
    position: absolute;
    bottom: -390%;
    right: 30%;
    z-index: 5;
    color: white;
    display: inline-block;
}

.fa-twitter {
    position: absolute;
    bottom: -390%;
    right: 25%;
    z-index: 5;
    color: white;
    display: inline-block;
}

.fa-linkedin {
    position: absolute;
    bottom: -390%;
    right: 20%;
    z-index: 5;
    color: white;
    display: inline-block;
}

.fa-youtube {
    position: absolute;
    bottom: -390%;
    right: 15%;
    z-index: 5;
    color: white;
    display: inline-block;
}

.fa-instagram {
    position: absolute;
    bottom: -390%;
    right: 10%;
    z-index: 5;
    color: white;
    display: inline-block;
}

.div-soc{
    position: absolute;
    bottom: -386.5vh;
    right: 35%;
    z-index: 5;
}

.social{
    color: white;
    font-family: Chopsic;
    font-size: 1.5vw;
}

#scroll {
    position:fixed;
    right:10px;
    bottom:10px;
    cursor:pointer;
    width:50px;
    height:50px;
    background-color: black;
    text-indent:-9999px;
    display:none;
    -webkit-border-radius:60px;
    -moz-border-radius:60px;
    border-radius:60px;
    z-index: 5;
}

#scroll span {
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-8px;
    margin-top:-12px;
    height:0;
    width:0;
    border:8px solid transparent;
    border-bottom-color:#ffffff;
}

#scroll:hover {
    background-color:#555;
    opacity:1;filter:"alpha(opacity=100)";
    -ms-filter:"alpha(opacity=100)";
}

.loader-wrapper{
    position:fixed;
    left:0%;
    width:100vw;
    height:100vh;
    display:flex;
    align-items:center;
    justify-content:center;
    background-color: black;
    z-index:100;
}

.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #Fff;
  animation: loader 2s infinite ease;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(180deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }

  25% {
    height: 0%;
  }

  50% {
    height: 100%;
  }

  75% {
    height: 100%;
  }

  100% {
    height: 0%;
  }
}