<!DOCTYPE html>
<html lang="en" class=" -webkit-">
    <head>

        {% load static %}

        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>Schedule</title>
        <link rel="stylesheet" href="{% static 'css/logo.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/schedule.css' %}">

        <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js'></script>
        <style>
			@import url('https://fonts.googleapis.com/css?family=Zhi+Mang+Xing&display=swap');

			@font-face {
			  font-family: TSA;
			  src: local('../static/fonts/TSA'),
				   url('../static/fonts/TSA.ttf') format("truetype");
			}

			@font-face {
			  font-family: Alternity;
			  src: local('Alternity'),
				   url('../static/fonts/Alternity.ttf') format("truetype");
			}

			@font-face {
			  font-family: Run;
			  src: local('../static/fonts/Run'),
				   url('../static/fonts/Run.ttf') format("truetype");
			}

			@font-face {
			  font-family: Smilen;
			  src: local('../static/fonts/Smilen'),
				   url('../static/fonts/Smilen.ttf') format("truetype");
			}

			@font-face {
			  font-family: Alternity;
			  src: local('../static/fonts/Alternity'),
				   url('../static/fonts/Alternity.ttf') format("truetype");
			}
        </style>

    </head>
    <body>

        <div class="border">
            <img class="border-img" src="{% static 'images/bg9.png' %}">
        </div>

        <div>
            <a href="../">
                <div class="circles">
                    <div></div>
                    <div></div>
                    <div></div>
                    <span></span>
                </div>
                <div class="text">SHADOW</div>
                <pre>        </pre>
            </a>
        </div>

        <div class="menu">
            <ul>
                <li><a href="../accomodation">ACCOMMODATION</a></li>
                <li><a href="../register">REGISTER</a></li>
                <li><a href="../events">EVENTS</a></li>
                <li><a href="../schedule">SCHEDULE</a></li>
                <li><a href="../sponsors">SPONSORS</a></li>
                <li><a href="../contact_us">CONTACT US</a></li>
            </ul>
        </div>

        <h1>Schedule</h1>

        <h2 class="c1">DAY-1</h2>
    	<br>
		<div class="table1">
			<table>
				<thead>
				<tr>
					<th>Event</th>
					<th>Date</th>
					<th>Time</th>
					<th>Venue</th>
				</tr>
				</thead>

				<tbody>
					<tr>
						<td>The Prompt Game</td>
						<td>9th October 2020</td>
						<td>10:00 am</td>
						<td>H05</td>
					</tr>

					<tr>
						<td>FIFA Tournament (Round 1)</td>
						<td>9th October 2020</td>
						<td>11:30 am</td>
						<td>Old Library</td>
					</tr>

					<tr>
						<td>Meme Quiz</td>
						<td>9th October 2020</td>
						<td>2:00 pm</td>
						<td>H05</td>
					</tr>

					<tr>
						<td>FIFA Tournament (Round 2)</td>
						<td>9th October 2020</td>
						<td>4:00 pm</td>
						<td>Old Library</td>
					</tr>

					<tr>
						<td>Open Mic</td>
						<td>9th October 2020</td>
						<td>6:00 pm</td>
						<td>H15</td>
					</tr>

					<tr>
						<td>Battle of Bands</td>
						<td>9th October 2020</td>
						<td>8:00 pm</td>
						<td>Main Stage</td>
					</tr>

					<tr>
						<td>CS GO (Round 1)</td>
						<td>9th October 2020</td>
						<td>11:00 pm</td>
						<td>Old Library</td>
					</tr>
				</tbody>
			</table>
		</div>

		<h2 class="c2">DAY-2</h2>
		<br>
		<div class="table2">
			<table>
				<thead>
				<tr>
					<th>Event</th>
					<th>Date</th>
					<th>Time</th>
					<th>Venue</th>
				</tr>
				</thead>

				<tbody>
					<tr>
						<td>Impromptu Showdown</td>
						<td>10th October 2020</td>
						<td>8:30 am</td>
						<td>H15</td>
					</tr>

					<tr>
						<td>City Hall Debate</td>
						<td>10th October 2020</td>
						<td>10:00 am</td>
						<td>H05</td>
					</tr>

					<tr>
						<td>FIFA Tournament (Round 3)</td>
						<td>10th October 2020</td>
						<td>11:30 am</td>
						<td>Old Library</td>
					</tr>

					<tr>
						<td>Ultimate Quiz(Preliminary Round)</td>
						<td>10th October 2020</td>
						<td>2:00 pm</td>
						<td>H05</td>
					</tr>

					<tr>
						<td>FIFA Tournament (Round 4)</td>
						<td>10th October 2020</td>
						<td>3:30 pm</td>
						<td>Old Library</td>
					</tr>

					<tr>
						<td>PUBG</td>
						<td>10th October 2020</td>
						<td>5:00 pm</td>
						<td>H01</td>
					</tr>

					<tr>
						<td>Kavyanjali</td>
						<td>10th October 2020</td>
						<td>5:45 pm</td>
						<td>H15</td>
					</tr>

					<tr>
						<td>EDM Night</td>
						<td>10th October 2020</td>
						<td>8:00 pm</td>
						<td>Main Stage</td>
					</tr>

					<tr>
						<td>CS GO (Round 2)</td>
						<td>10th October 2020</td>
						<td>11:00 pm</td>
						<td>Old Library</td>
					</tr>
				</tbody>
			</table>
		</div>

		<h2 class="c3">DAY-3</h2>
		<br>
		<div class="table3">
			<table>
				<thead>
				<tr>
					<th>Event</th>
					<th>Date</th>
					<th>Time</th>
					<th>Venue</th>
				</tr>
				</thead>

				<tbody>
					<tr>
						<td>Ultimate Quiz (Finals)</td>
						<td>11th October 2020</td>
						<td>8:30 am</td>
						<td>H01</td>
					</tr>

					<tr>
						<td>FIFA Tournament (Semi Finals)</td>
						<td>11th October 2020</td>
						<td>11:30 am</td>
						<td>Old Library</td>
					</tr>

					<tr>
						<td>FIFA Tournament (Finals)</td>
						<td>11th October 2020</td>
						<td>1:00 pm</td>
						<td>Old Library</td>
					</tr>

					<tr>
						<td>CS GO (Round 3)</td>
						<td>11th October 2020</td>
						<td>2:00 pm</td>
						<td>Old Library</td>
					</tr>

					<tr>
						<td>Dance Off</td>
						<td>11th October 2020</td>
						<td>3:30 pm</td>
						<td>H05</td>
					</tr>

					<tr>
						<td>IIITDM Idol</td>
						<td>11th October 2020</td>
						<td>5:30 pm</td>
						<td>H15</td>
					</tr>

					<tr>
						<td>Mayasrishti</td>
						<td>11th October 2020</td>
						<td>6:30 pm</td>
						<td>Main Stage</td>
					</tr>

					<tr>
						<td>Rock Night</td>
						<td>11th October 2020</td>
						<td>8:30 pm</td>
						<td>Main Stage</td>
					</tr>

					<tr>
						<td>CS GO (Finals)</td>
						<td>11th October 2020</td>
						<td>11:30 pm</td>
						<td>Old Library</td>
					</tr>
				</tbody>
			</table>
		</div>

        <a href="#" id="scroll" style="display: none;"><span></span></a>
        <div class="loader-wrapper">
    		<a href="../">
    			<div class="circles">
    				<div></div>
    				<div></div>
    				<div></div>
    				<span></span>
    			</div>
    			<div class="text">SHADOW</div>
    		</a>
		    <span class="loader"><span class="loader-inner"></span></span>
		</div>

		<script>
			$(window).on("load", function(){
				$(".loader-wrapper").fadeOut()
			});
		</script>
        <script>
            $(document).ready(function(){
                $(window).scroll(function(){
                    if ($(this).scrollTop() > 100) {
                        $('#scroll').fadeIn();
                    } else {
                        $('#scroll').fadeOut();
                    }
                });
                $('#scroll').click(function(){
                    $("html, body").animate({ scrollTop: 0 }, 600);
                    return false;
                });
            });
        </script>
    </body>
</html>
