<!DOCTYPE html>
<html lang="en" class=" -webkit-">
    <head>

        <title>Hi, {{user.username}}</title>

        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/logo.css' %}">
        <link rel="stylesheet" href="{% static 'css/background.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/user.css' %}"><meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

        <style>
            @font-face {
                font-family: TSA;
                src: local('../static/fonts/TSA'),
                    url('../static/fonts/TSA.ttf') format("truetype");
            }
        </style>

    </head>

    <body>

        <div class="border">
            <img style="width:100%;height:180%;" src="{% static 'images/bg13.png' %}">
        </div>

        <a href="../">
            <div class="circles">
                <div></div>
                <div></div>
                <div></div>
                <span></span>
            </div>
            <div class="text">SHADOW</div>
        </a>

        <script src="{% static 'js/user.js' %}"></script>
        
        <a href="#" id="scroll" style="display: none;"><span></span></a>

        <script>
            $(document).ready(function(){
                $(window).scroll(function(){
                    if ($(this).scrollTop() > 100){
                        $('#scroll').fadeIn();
                    }
                    else{
                        $('#scroll').fadeOut();
                    }
                });
                $('#scroll').click(function(){
                    $("html, body").animate({ scrollTop: 0 }, 600);
                    return false;
                });
            });
        </script>

    </body>

</html>
