body{
  background-image: linear-gradient(to left, #7303c0, #ec38bc, #fdeff9);
}

html{
  height: 230%;
  overflow-y: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar{
  width: 0px;
  background: transparent;
}

h1{
  position: absolute;
  top: 40%;
  left: 42.5%;
  width: 100%;
  font-family: VampireWars;
  background: -webkit-linear-gradient(#22c1c3, #fdbb2d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 500%;
  font-style: italic;
  z-index: 0;
}

.circles{
  position: absolute;
  top: 1%;
  left: 1%;
  color: #141414;
}

.text{
  position: absolute;
  top: 30%;
  left: 3%;
  color: #141414;
}

.border{
  position: absolute;
  height: 220%;
  top: 0%;
  left: 0%;
  opacity: 1;
  z-index: 1;
}

li a {
  display: block;
  color: #1A30A0;
  text-align: center;
  padding: 14px 16px;
  border-radius: 25px;
  text-decoration: none;
  font-size: 125%;
}

li a:hover{
  background-image: linear-gradient(to right,  #c0c0aa, #1cefff);
}

#menu{
  top: 20%;
  right: 8%;
  background-size: cover;
  flex-direction: row-reverse;
  display: flex;
}

.Gaming {
  position: absolute;
  top: 55%;
  left: 42.5%;
  width: 100%;
  height: auto;
  z-index: 1;
}

.Dance {
  position: absolute;
  top: 100%;
  left: 15%;
  width: 100%;
  height: auto;
  z-index: 1;
}

.Music {
  position: absolute;
  top: 100%;
  left: 70%;
  width: 100%;
  height: auto;
  z-index: 1;
}

.Quiz {
  position: absolute;
  top: 145%;
  left: 42.5%;
  width: 100%;
  height: auto;
  z-index: 1;
}

.Photography {
  position: absolute;
  top: 190%;
  left: 15%;
  width: 100%;
  height: auto;
  z-index: 1;
}

.Drama {
  position: absolute;
  top: 190%;
  left: 70%;
  width: 100%;
  height: auto;
  z-index: 1;
}

.Literature {
  position: absolute;
  top: 235%;
  left: 42.5%;
  width: 100%;
  height: auto;
  z-index: 1;
}

.Gaming1 {
  position: absolute;
  top: 81%;
  left: 46.5%;
  width: 25%;
  height: auto;
  z-index: 1;
}

.button {
  position: absolute;
  top: 65.5%;
  left: -6%;
  display: inline-block;
  border-radius: 4px;
  background-image: linear-gradient(to right, #7303c0, #ec38bc, #fdeff9);
  border: none;
  color: #000000;
  text-align: center;
  font-family: Chopsic;
  font-size: 150%;
  width: 60%;
  height: 10%;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  z-index: 4;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  z-index: 4;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
  z-index: 4;
}

.button:hover span {
  padding-right: 25px;
  z-index: 4;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
  z-index: 4;
}

.active, .button:hover {
  background-color: #555;
}

.content {
  position: absolute;
  top: 76.5%;
  left: -25%;
  padding: 0px 18px;
  width: 100%;
  height: 60%;
  border-style: solid;
  border-width: medium;
  border-color: black;
  border-radius: 0px 50px;
  display: none;
  overflow: scroll;
  text-align: justify;
  font-family: Billabong;
  font-size: 200%;
  background-image: linear-gradient(to bottom, #7303c0, #ec38bc, #fdeff9);
}

#scroll {
    position:fixed;
    right:10px;
    bottom:10px;
    cursor:pointer;
    width:50px;
    height:50px;
    background-color: black;
    text-indent:-9999px;
    display:none;
    -webkit-border-radius:60px;
    -moz-border-radius:60px;
    border-radius:60px;
    z-index: 5;
}

#scroll span {
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-8px;
    margin-top:-12px;
    height:0;
    width:0;
    border:8px solid transparent;
    border-bottom-color:#ffffff;
}

#scroll:hover {
    background-color:#555;
    opacity:1;filter:"alpha(opacity=100)";
    -ms-filter:"alpha(opacity=100)";
}

main.wrapper {
  margin: 100px 100px 0 0;
}

.bar {
  width: 150%;
  background-color: #222;
  box-shadow: 0 -5px 20px 2px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 -5px 20px 2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 -5px 20px 2px rgba(0, 0, 0, 0.5);
  -o-box-shadow: 0 -5px 20px 2px rgba(0, 0, 0, 0.5);
  -ms-box-shadow: 0 -5px 20px 2px rgba(0, 0, 0, 0.5);
  padding: 30px 50px;
  text-align: center;
  max-height: 200px;
  transform: rotateZ(20deg);
  -webkit-transform: rotateZ(20deg);
  -moz-transform: rotateZ(20deg);
  -o-transform: rotateZ(20deg);
  -ms-transform: rotateZ(20deg);
}
.bar:nth-child(2) {
  margin-left: -88px;
  margin-top: -40px;
}
.bar:nth-child(3) {
  margin-left: -156px;
  margin-top: -40px;
}
.bar .content, .bar .name {
  width: 30%;
  margin: 10px auto;
  cursor: pointer;
}
.bar .content {
  overflow: hidden;
  height: 0px;
}
.bar .name {
  display: block;
  font-size: 30px;
  margin-bottom: 20px;
  text-shadow: 0px 1px 5px #888;
  color: #222;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
}

.checky {
  display: none;
}
.checky:checked ~ .content {
  height: 100%;
}
.checky:checked ~ .name {
  color: #03A9F4;
  text-shadow: 0px 1px 5px #03A9F4;
}
